.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.main-menu {
	background-color: rgb(206, 206, 206);
	height: 100vh;
}

.jumbotron-main-menu {
	color: rgb(62, 200, 255);
	background-color: rgb(95, 81, 81);
}

.main-menu-form {
	margin-top: 120px;
	color: rgb(0, 4, 255);
}

.timer-options-yes {
	
}

.timer-options-no {
	visibility: hidden;
}

.inquizheader {
	font-family:Arial;
	font-size:20px;
	color:#3a8a9e;
	margin-bottom: 70px;
}

.start-quiz-btn {
	height: 40px;
	width: 10vw;
	background:linear-gradient(to bottom, #50abf7 5%, #6e58be 100%);
	background-color:#49d5ff;
	border-radius:15px;
	border:1px solid #d6bcd6;
}

.questioncount {
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	margin: 10px;
}

.question {
	margin: auto;
	color:#0d4250;
	font-family:Arial;
	font-size:17px;
	width:55vw;
}

.answer-options {
	text-align: center;
  	margin: 30px;;
}

.answer-option {
  	margin: 8px; 
}

.option-button {
  	width:30vw;
  	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  	text-shadow:0px 1px 0px #e1e2ed;
}

.option-button:hover {
  	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

.selected-option {
  	width:30vw;
  	box-shadow: 3px 4px 0px 0px #6c72ba;
	background:linear-gradient(to bottom, #9303e6 5%, #6f0ac2 100%);
	background-color:#9303e6;
	border-radius:15px;
	border:1px solid #3800f0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #d40dde;
}

.selected-option:hover {
  	background:linear-gradient(to bottom, #6f0ac2 5%, #9303e6 100%);
	background-color:#6f0ac2;
}

.quiz {
	height: 100vh;
	background:linear-gradient(to bottom, #aeccd8 5%, #51aa88 100%);
	align-items: center;
	justify-content: center;
}

.submit-answer-btn {
	width: 10vw;
	height: 45px;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:10px;
	border:1px solid #3866a3;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}

.quiz-submit-results-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.view-results-btn, .next-question-btn {
	width: 125px;
	height: 45px;
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:10px;
	border:1px solid #3866a3;
	cursor:pointer;
	color:#14396a;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
	display: table-cell;
	vertical-align: middle;
}

.timer {
	width: 125px;
	height: 45px;
}